.modal-close:hover {
  color: red;
  cursor: pointer;
}


/* WARNING MODAL */

.warning {
  position: absolute;
  top: 25%;
  left: 25%;

  width: 100%;
  height: 100%;
  
  display: none;
}

.warning-modal {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: black;
  border: 4px solid white;
}

.warning-modal h1 {
  color: red;
}

.warning-modal h2 {
  font-size: 32px;
}

.warning-modal span {
  display: block;
  position: absolute;
  color: white;
  font-size: 64px;
  line-height: 20px;
  top: 20px;
  right: 20px;
}


/* NEW EMAIL MODAL */

.new-email {
  position: absolute;
  top: 200px;
  right: -300px;

  transition: right 0.2s;
}

.new-email-modal {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
  border: 4px solid white;
}

.new-email-modal h3 {
  font-size: 32px;
  text-align: left;
}

.new-email-modal span {
  display: block;
  position: absolute;
  color: white;
  font-size: 32px;
  top: 28px;
  left: 15px;
}


/* REPLY MODAL */

.reply-email {
  position: absolute;
  top: 20%;
  left: 25%;

  width: 100%;
  height: 50%;

  display: none;
}

.reply-modal {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: black;
  padding: 15px;
  border: 4px solid white;
}

.reply-modal h3 {
  font-size: 32px;
  text-align: left;
  margin: 5px 0 0 0;
}

.reply-input {
  display: flex;
  align-items: center;

  width: 80%;
  margin-bottom: 15px;

  font-size: 24px;

  /* INCASE I NEED LATER */
  display: none;
}

.reply-modal label {
  border-bottom: 1px solid white;
  font-size: 16px;
  line-height: 29.5px;
}

.reply-modal input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  
  font-size: 16px;
  color: white;
  font-family: 'VT323';

  padding-left: 10px;
  width: 100%;
}

.reply-modal input:focus {
  outline: none;
}

.reply-modal textarea {
  border: 1px solid white;
  background-color: transparent;
  
  font-size: 24px;
  color: white;
  font-family: 'VT323';

  padding-left: 10px;
  width: 100%;
  height: 75%;
  margin-top: 20px;

  resize: none;
}

.reply-modal textarea:focus {
  outline: none;
}

.reply-send {
  color: white;
  font-size: 32px;

  margin: 10px auto 0px auto;
}

.reply-send:hover {
  color: red;
  cursor: pointer;
}

.reply-modal .modal-close {
  display: block;
  position: absolute;
  font-size: 64px;
  line-height: 20px;
  top: 20px;
  right: 20px;
}